html,
body {
  height: 100%;
  overflow-y: hidden;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.calculator-container {
  padding: 1em;

  border-radius: 15px;
  border: solid 5px green;
}

#display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 15vh;
  width: 100%;

  margin-bottom: 1em;

  font-size: 2em;

  border-radius: 5px;

  background-color: green;
}

.keys-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.2em;

  border-radius: 5px;
  border: solid 3px red;

  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  font-size: 2em;
}

.key[type="equals"] {
  grid-row-end: span 2;
}

.key[type="clear"] {
  color: white;
  background-color: red;
}

/* force keys to be at least as tall as wide */
.key::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

fieldset#settings {
  width: 40%;
  height: auto;

  padding: 2em;

  border: 2px solid black;
  border-radius: 5px;

  font-size: 1em;

  -moz-user-select: none;
}
